<!DOCTYPE html>
<html lang="ja">
<head>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/admin.js"></script>
	<meta http-equiv="content-type"
		content="text/html; charset=UTF-8">
	<title>sample</title>
	<style>
	body { font-size:12pt; color:#006666; }
	h1 { font-size:18pt; background-color:#AAFFFF; }
	pre { background-color:#EEEEEE; }
	</style>
</head>
<body>
	<header>
		<h1 id="h1">管理者ページ</h1>
	</header>
	<p>サーバー状態 : <span id="serverStatus">オンライン</span></p>
	<p>ログイン状態 : <span id="loginStatus">未ログイン</span></p>
	<div id="login" style="display:">
		<input type="password" id="passBox" size=50></input>
		<button  onclick=javascript:adminLogin() >ログイン</button>
	</div>
	<div id="main" style="display:none">
		<p>現在の接続者は<span id="numClients">0</span>人です。</p>
		<table border="1" id="clientInfo">
			<tr>
				<td>ソケットID</td>
				<td>部屋</td>
			</tr>
		</table>
		<p id="testField"></p>
	</div>
	<div id="log"></div>
</body>
</html>